numpy==1.24.4
opendr==0.78
open3d==0.17.0
opencv-python
imageio
trimesh
matplotlib
scipy
pillow
scikit-learn
scikit_video
scikit_image
pybullet
pyrender
fvcore
transforms3d

GitPython
joblib
tqdm
termcolor
pyyaml
tensorboard
deprecation
deprecated
ipython
ninja
yacs